<div class="container">
  <h1>SortableJS Test</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul id="items" class="list-unstyled text-center">
        <li data-position="1">item 1</li>
        <li data-position="2">item 2</li>
        <li data-position="3">item 3</li>
      </ul>
    </div>
  </div>
</div>

